@page "/events"
@using EventEaseProject.Models
@using EventEaseProject.Components.UI
@using EventEaseProject.Services
@inject EventService EventService


<header class="page_header">
    <h1 class="title">Upcoming events</h1>
</header>

<article>
    @foreach (var evt in EventsList)
    {
        <EventCard Event="@evt" @key="@evt.Id"></EventCard>
    }
</article>

@code {

    private List<Event> EventsList { get; set; }

    protected override void OnInitialized()
    {
        EventsList = EventService.GetAllEvents();
    }

}