@using EventEaseProject.Models

@if (string.IsNullOrWhiteSpace(Event.Name) || string.IsNullOrWhiteSpace(Event.Date) || string.IsNullOrWhiteSpace(Event.Location))
{
    <h3>Invalid event data.</h3>
}
else
{
    <article class="event_article">
        <h3>@Event.Name</h3>
        <p>
            @Event.Date at @Event.Location
        </p>
        <NavLink href="@($"events/{Event.Id}/register")">
            <button class="event-register_button">
                Register
            </button>
        </NavLink>
    </article>
}

@code {
    [Parameter, EditorRequired] public Event Event { get; set; }
}